.Patient-InfoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
    padding: 30px 40px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.Patient-PatientAvatar {
    border-radius: 50%;
    height: 185px;
    width: 185px;
}

.InfoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
}

.Patient-MedicalRecordsContainer {
    flex-grow: 1;
}

.Patient-AppBar {
    background-color: white !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25) !important;
}

.Patient-AppBarTab {
    font-weight: 500;
    font-family: Roboto;
    text-transform: lowercase !important;
    color: #727272;
}

.Patient-ConsultationContainer {
    padding: 40px;
}

.Patient-AppointmentContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.AppointmentBlock {
    padding: 0px 40px 40px 0px
}

.Patient-MedicalInfoContainer {
    display: flex;
    flex-direction: row;
}

.Patient-SessionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 40px 0px 0px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.ChiefComplaintBlock {
    display: flex;
    flex-direction: row;
    margin: 3px 0px;
}

.Patient-MedicalHistoryListBlock {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 620px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.MedicalHistoryList {
    background-color: white !important;
}

.ListItemSecondaryField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Patient-MedicalHistoryDetail {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25)
}