
hr {
    width: 100%
}

.ConsultationSchedule-HoulyBlock {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.ConsultationSchedule-DateTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 58px 40px;
}

.ConsultationSchedule-PatientAvatar {
    border-radius: 10%;
    height: 180px !important;
    width: 180px !important;
}

.ConsultationSchedule-PatientsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 40px;
}

.ConsultationSchedule-PatientInfoBlock, .ConsultationSchedule-PatientInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ConsultationSchedule-PatientInfoBlock {
    margin-left: 17px;
}